/*MOBILE FIRST*/
#body_grid
{
    display: grid;
    grid-template-columns: 1fr;
    /*grid-auto-rows: auto auto auto; */ /*Se coloca 1 por cada sección de mi web, actualizar esto*/
}


/* puede fallar*/
header {
    background: rgb(2,0,36);
    background: rgb(2,0,36);
    background: linear-gradient(87deg, rgba(2,0,36,1) 0%, rgba(255,0,0,1) 0%, rgba(252,242,0,1) 100%);
    max-width: 100%;
  }

main
{

    background-color: #fccb00;
}
body
{
  margin-left: auto;
  margin-right: auto; 
}

ul li a
{
    font-size:20px;
}

.grid-container1 div
{
  display:grid;
  background-color: antiquewhite;
  grid-template-columns: auto;
  background-color: antiquewhite;
  color:white;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  margin: 10px;
}




.grid-container div
{
  display:grid;
  background-color: antiquewhite;
  grid-template-columns: auto auto;
  background-color: antiquewhite;
  color:white;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  margin: 10px;
}



.grid-container div div
{
    animation: myAnim 2s ease 0s 1 normal forwards;

}

/* puede fallar*/

.nav{
    display: grid;
    grid-template-columns: 1fr;
    /*grid-auto-rows: auto auto auto;*/
    row-gap: 10px;
}


/*Para contener la imagen del anuncio*/
.anuncio
{
    width: auto;
    height: auto;

    /* puede fallar*/
    background-color: #fccb00;
    vertical-align: center;
    
    /* puede fallar*/
    
}

/*Para que el anuncio se adapte al contenedor*/
.imagenanuncio
{
    object-fit: cover;
    width: 100%;

}

.items
{
    width: auto;
    height: auto;
}

.volver_arriba
{
  position: fixed;
  left: 1px;
  bottom: 1px;
}

.fila
{
    background-color: blue;
   
}




h1
{
    text-align: center;
}

h2
{
    text-align: center;
}

.titulos
{
    width: 100%;
    align-items: center;
}

.logo
{
    justify-self: center;
    
}
.buscador
{
    justify-self: center;
}

/*Esto medio que lo invente yo
.logoscroll
{
    height: 30%;
    position: absolute;
}
*/

.menu
{
    justify-self: center;
}

footer
{
  background-color: #009ab6 ;
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 1%;
  margin-bottom: -1%;
  
  
}

html
{
    margin:0;
    font-family: 'Roboto', sans-serif;
    
}

.categorias
{
    animation: myAnim2 2s ease 0s 1 normal forwards;
}
@keyframes myAnim2 {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}



@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}
  

/* Esto se cambió por grid
tr
{
  background-color: #fccb00;
}

Esto se cambió por el menú bajando entero
.logoscroll
{
  position: fixed;
  right: 1px;
  bottom: 1px;
}

*/

/*Media significa "Tamaño de la vista"
Aquí le estoy diciendo que cuando la media sea X hacer esto
de lo contrario hacer otra cosa
Similar a un if
*/

/*Cuando el ancho sea 768 (o mayor) aplicar esto
en otras palabras lo hará cuando deje de ser celular*/

/* ---> RECORDAR: Basicamente esto es en qué punto pasamos a DESKTOP <----*/
/*Tablets Y desktops*/
@media (min-width: 768px) 
{
    .nav
    {
        grid-template-columns: auto auto auto; /*Usualmente me servira poner tantas columnas como hijos tenga (en este caso) el nav*/
        /*grid-template-rows: ;*/
        
    }

    li
    {
        display: inline-block;
        padding: 10px;
        list-style: none;
        
    }
    .buscador
    {
        display: inline-block;
        padding-top: 10%;
        list-style: none;
        
    }
    
    .doblecolumna
    {
        display: grid;
        grid-template-columns: auto auto;
       
    
    }

    
    .imagenanuncio
    {
    object-fit:scale-down;
    width: 100%;
 
    }
    
    .grid-container
    {
        align-self: auto;
    }
}

/*
320 es la media menor
480 serían telefonos en modo horizontal
600 son tabletas pequeñas
768 y 1023 son tabletas de diez pulgadas
1024 son tabletas como el Ipad (1024*768) en modo horizontal,
así como algunas pantallas de ordenador portatil, notebook y de escritorio
1200 Para pantallas panorámicas, principalmente portátiles y de escritorio
*/

